{% extends 'core/base.html' %}
{% block content %} 
<div class="container mt-5">
 <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

 <div class="row text-center text-white mb-5">
  <div class="col-sm-4">
   <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
   <h3>SEO</h3>
   <p class="ss-color">We Offer Seo Service Nd Optimize The Searching Query Show that Traffic Is Increase at Our Sites.</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-palette fa-2x mb-3 i-color"></i>
   <h3>Web Design</h3>
   <p class="ss-color">I have very good Knowledge in designing of ant types of websites</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-code fa-2x mb-3 i-color"></i>
   <h3>Web Development</h3>
   <p class="ss-color">I design mant types of websites which is commercial ,enterprise applications</p>
  </div>
 </div>

 <div class="row text-center text-white mb-5">
  <div class="col-sm-4">
   <i class="fab fa-android fa-2x mb-3 i-color"></i>
   <h3>Android</h3>
   <p class="ss-color">I convert My web app at andriod version also with same loop and feel and it available at plat store also</p>
  </div>
  <div class="col-sm-4">
   <i class="fab fa-apple fa-2x mb-3 i-color"></i>
   <h3>iOS</h3>
   <p class="ss-color">I have idea Flutter My web app Run andriod,and IOS .</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-ad fa-2x mb-3 i-color"></i>
   <h3>Advertising</h3>
   <p class="ss-color">We apply Google Analytics to show costomer Circle and apply Advertising fasility as per their needs.</p>
  </div>
 </div>

 <div class="row text-center text-white mb-5">
  <div class="col-sm-4">
   <i class="fas fa-pencil-alt fa-2x mb-3 i-color"></i>
   <h3>Logo Design</h3>
   <p class="ss-color">I design awesome Logo.</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-database fa-2x mb-3 i-color"></i>
   <h3>Hosting</h3>
   <p class="ss-color">I deploye many projects at AWS,Paython anywhere.com Heroku.</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-headset fa-2x mb-3 i-color"></i>
   <h3>Support</h3>
   <p class="ss-color">I support The websites at Live Environment and production Environment at any types of buges we find out and short out immediately.</p>
  </div>
 </div>

</div>
{% endblock content %}