{% extends 'core/base.html' %}
{% load static %}
{% block content %} 
<div class="mt-5">
 <div class="text-center">
  <img src="{% static 'core/images/pic2.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
 </div>
 <div class="mt-5 text-white mx-5 text-justify">
  <h1 class="font-weight-bold st-font">Hello,</h1>
  <div class="px-4" style="line-height:2rem;">
   <p style="text-indent:100px;"> I am <b class="text-warning">Mithilesh Pandey</b> having 2.7 years  in web development previously i worked in Tractor Junction(CRM Project),Currently i wored in Zekardo Automative OPC Private Limited(PDI Project)</p>
   <p>Since earning my bachelor’s Degree From Rajasthan Technical University,Kota I have served as a web developer at <b class="text-warning">Tractor Junction</b>, one of biggest premier digital marketing and web development firm. In this position, I have led web development projects for clients in diverse industries including technology, manufacturing, pharmaceutical, hospitality, retail and financial services.</p>
   <p>Currently I Worked as Python Developer(Zekardo OPC Pvt Ltd) at PDI Projects this projects helps the car owner's ,to find out their bug 
    and how it is fixed in efficient manner.</p>
  </div>
 </div>
 <div class="text-center">
  <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
  <a href="{% url 'contact' %}" class="btn btn-outline-info my-3">Contact</a>
 </div>
</div>
{% endblock content %}